@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-color: gray; */
}



#tweetComponent{
  border-bottom: 0px;
}

#tweetEditor{
  border-bottom: 0px;
}

#tweetHeader {
  border-bottom: 0px;
}